[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
line-bot-sdk = "*"
python-decouple = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
sqlalchemy = "*"
selenium = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
